// Font
$primary-font: "Rosario", sans-serif;
$secondary-font: "DM Sans";

// Colors

$primary-background-color: #C9C9C9;
$secondary-background-color: #09a66d0d;
$primary-text-color: #222222;
$secondary-text-color:#555555;
$button-text-color: ffffff;